{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 30.2994,
    "longitude": 120.1612,
    "elevation": 32,
    "unit_system": "metric",
    "location_name": "我的家",
    "time_zone": "Asia/Shanghai",
    "external_url": "https://guoz.ml:88",
    "internal_url": "https://guoz.ml:88",
    "currency": "CNY"
  }
}