{
    "data": {
        "elevation": 32,
        "external_url": "https://guoz.ml:88",
        "internal_url": null,
        "latitude": 30.23927,
        "location_name": "\u667a\u80fd\u7269\u8054",
        "longitude": 120.05633,
        "time_zone": "Asia/Shanghai",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}